# <span style='color:White'><span style='background :Blue' > ALL TIME HIGHEST-GROSSING MOVIES WORLDWIDE ANALYSIS  </span></span> 
---

## <span style='color:White'><span style='background :Red' > Data Processing  </span></span>

For this part we need to make use of what we have previous done in *Data Collection* part. From that part we already have the variable top_movies, which contains the 1000 highest grossing films. In case we want a smaller sample we just need to use the function **movie_list( )**.

In [1]:
%run Data_Collection.ipynb

In [3]:
top_movies.head()

,Title,Lifetime Gross,Rated,Released,Runtime,Genre,Director,Writer,Actors,Plot,Language,Country,Awards,imdbRating,Poster
Rank,,,,,,,,,,,,,,,
1,Avatar,"$2,847,397,339",PG-13,18 Dec 2009,162 min,"Action, Adventure, Fantasy",James Cameron,James Cameron,"Sam Worthington, Zoe Saldana, Sigourney Weaver","When his brother is killed in a robbery, parap...","English, Spanish",United States,Won 3 Oscars. 89 wins & 131 nominations total,7.8,https://m.media-amazon.com/images/M/MV5BNjA3NG...
2,Avengers: Endgame,"$2,797,501,328",PG-13,26 Apr 2019,181 min,"Action, Adventure, Drama","Anthony Russo, Joe Russo","Christopher Markus, Stephen McFeely, Stan Lee","Robert Downey Jr., Chris Evans, Mark Ruffalo",After the devastating events of Avengers: Infi...,"English, Japanese, Xhosa, German",United States,Nominated for 1 Oscar. 70 wins & 132 nominatio...,8.4,https://m.media-amazon.com/images/M/MV5BMTc5MD...
3,Titanic,"$2,201,647,264",PG-13,19 Dec 1997,194 min,"Drama, Romance",James Cameron,James Cameron,"Leonardo DiCaprio, Kate Winslet, Billy Zane","84 years later, a 100 year-old woman named Ros...","English, Swedish, Italian, French",United States,Won 11 Oscars. 125 wins & 83 nominations total,7.9,https://m.media-amazon.com/images/M/MV5BMDdmZG...
4,Star Wars: Episode VII - The Force Awakens,"$2,069,521,700",PG-13,18 Dec 2015,138 min,"Action, Adventure, Sci-Fi",J.J. Abrams,"Lawrence Kasdan, J.J. Abrams, Michael Arndt","Daisy Ridley, John Boyega, Oscar Isaac",30 years after the defeat of Darth Vader and t...,English,United States,Nominated for 5 Oscars. 62 wins & 138 nominati...,7.8,https://m.media-amazon.com/images/M/MV5BOTAzOD...
5,Avengers: Infinity War,"$2,048,359,754",PG-13,27 Apr 2018,149 min,"Action, Adventure, Sci-Fi","Anthony Russo, Joe Russo","Christopher Markus, Stephen McFeely, Stan Lee","Robert Downey Jr., Chris Hemsworth, Mark Ruffalo",As the Avengers and their allies have continue...,English,United States,Nominated for 1 Oscar. 46 wins & 79 nomination...,8.4,https://m.media-amazon.com/images/M/MV5BMjMxNj...

In [4]:
top_movies.tail()

,Title,Lifetime Gross,Rated,Released,Runtime,Genre,Director,Writer,Actors,Plot,Language,Country,Awards,imdbRating,Poster
Rank,,,,,,,,,,,,,,,
996,Tootsie,"$177,200,271",PG,17 Dec 1982,116 min,"Comedy, Drama, Romance",Sydney Pollack,"Don McGuire, Larry Gelbart, Murray Schisgal","Dustin Hoffman, Jessica Lange, Teri Garr",Michael Dorsey is an unemployed actor with an ...,English,United States,Won 1 Oscar. 25 wins & 30 nominations total,7.4,https://m.media-amazon.com/images/M/MV5BMTY4MG...
997,In the Line of Fire,"$176,997,168",R,09 Jul 1993,128 min,"Action, Crime, Drama",Wolfgang Petersen,Jeff Maguire,"Clint Eastwood, John Malkovich, Rene Russo",Frank Horrigan (Clint Eastwood) is a Secret Se...,English,United States,Nominated for 3 Oscars. 2 wins & 17 nomination...,7.2,https://m.media-amazon.com/images/M/MV5BMjdhYj...
998,Analyze This,"$176,885,658",R,05 Mar 1999,103 min,"Comedy, Crime",Harold Ramis,"Kenneth Lonergan, Peter Tolan, Harold Ramis","Robert De Niro, Billy Crystal, Lisa Kudrow",Living in the shadow of his famous psychiatris...,English,"United States, Australia",4 wins & 7 nominations,6.7,https://m.media-amazon.com/images/M/MV5BNTIzNj...
999,The Hitman's Bodyguard,"$176,600,207",R,18 Aug 2017,118 min,"Action, Comedy, Crime",Patrick Hughes,Tom O'Connor,"Ryan Reynolds, Samuel L. Jackson, Gary Oldman",With his reputation in tatters after the painf...,"English, Russian, French, Japanese, Italian, D...","United States, Hong Kong, Bulgaria, Netherland...",1 win & 8 nominations,6.9,https://m.media-amazon.com/images/M/MV5BMTc4Nj...
1000,Looper,"$176,506,819",R,28 Sep 2012,119 min,"Action, Drama, Sci-Fi",Rian Johnson,Rian Johnson,"Joseph Gordon-Levitt, Bruce Willis, Emily Blunt","Joe is classified as a ""looper"", a job in whic...","English, French",United States,18 wins & 47 nominations,7.4,https://m.media-amazon.com/images/M/MV5BMTg5NT...

### <span style='color:White'><span style='background :Brown' > Data Transformation </span></span>  

The required data has been already downloaded using the function movie_list() and stored into dataframe **top_movies**. In this part we transform the data so working with it can be done more easily. It involves not only changing the type of variable but also creating new ones.

### <span style='color:White'><span style='background :Black' > Function: </span></span>  gross_number()

Create new column containing gross income in millions of USD as numbers, as they appear originally as strings.

In [5]:
def gross_number(table):
    """
    Transform a given vector from chr to float.
    The input should be in the form of '$XX,XXX,XXX.XX'
    The output would be in the form XX.XX (to represent MM USD)
    
    Example
    ----------
    Input.-  '$780,237,950' | Type: chr
    Output.- 780.24         | Type: float
    
    Parameters
    ----------
    table: movie_list() dataframe output
    
    Result
    ----------
    Input dataframe with additional column containing the gross income in MM USD.
    
    """
    #Create new column.
    table = table.copy(deep=True)
    table['Gross (MM USD)'] = None
    #Iterate through all items according to the index.
    for i in (table.index):
        table['Gross (MM USD)'][i] = round(float(table['Lifetime Gross'][i][1:].replace(',',''))/(10**6),2)
    return table

### <span style='color:White'><span style='background :Black' > Function: </span></span>  date_strptime()

Create new columns containing year and month of release as numbers, as they appear originally as strings.

In [6]:
from datetime import datetime

In [7]:
def date_strptime(table):
    """
    Transform date from chr to datetime.strptime.
    The input must be in format %d %b %Y, and the output format will be datetime.datetime(%Y, %m, %d, 0, 0)
    
    Example
    ----------
    Input.-  '01 Jan 1900'                       | Type: chr
    Output.- datetime.strptime(1900, 1, 1, 0, 0) | Type: datetime.strptime  
    
    Parameters
    ----------
    table: movie_list() dataframe output
    
    Result
    ----------
    Input dataframe with additional columns containing month and year .
    
    """
    #Create new column.
    table = table.copy(deep=True)
    table['Release Year'] = None
    table['Release Month'] = None
    #Iterate through all items according to the index.
    for i in (table.index):
        if table['Released'][i]!='N/A':
            table['Release Year'][i] = datetime.strptime(table['Released'][i], '%d %b %Y').year
            table['Release Month'][i]= datetime.strptime(table['Released'][i], '%d %b %Y').month
        else:
            table['Release Year'][i] = datetime.strptime('01 Jan 1900', '%d %b %Y').year
            table['Release Month'][i]= datetime.strptime('01 Jan 1900', '%d %b %Y').month
    return table

### <span style='color:White'><span style='background :Black' > Function: </span></span>  std_rating()

Create new columns containing rating equivalence as the API returns both MPAA Ratings System and TV Parental Guidelines Ratings System which complicates direct analysis.

In [8]:
import numpy as np

In [9]:
def std_rating(table):
    """
    Create new column with equivalent rating system.
    Allows to standarize all movies under same rating logic.
    
    Parameters
    ----------
    table: movie_list() dataframe output
    
    Result
    ----------
    Input dataframe with additional column containing standarized rating.
    
    """
    #Create table of rating equivalences.
    table = table.copy(deep=True)
    rating_table = pd.DataFrame([['G', 'General Audience'], ['PG', 'Parental Guidance Suggested'], ['PG-13', 'Parents Strongly Cautioned'], ['R', 'Restricted'], ['NC-17', 'No Children 17 or Under'], ['TV-Y', 'General Audience'], ['TV-Y7', ' Parental Guidance Suggested'], ['TV-G', 'General Audience'], ['TV-PG', 'Parental Guidance Suggested'], ['TV-14', 'Parents Strongly Cautioned'], ['TV-MA', 'Restricted'], ['Approved', 'General Audience'], ['Passed', 'Restricted'], ['Not Rated', 'Not Rated'], ['N/A', 'Not Rated']], columns = ['Rated', 'Standarized Rating'])
    #Save movie index.
    index = table.index
    #Copy rating equivalent in a new column.
    table = table.merge(rating_table, how = 'left')
    #Restore index as merging resets it.
    table.index = index
    return table

### <span style='color:White'><span style='background :Black' > Function: </span></span>  runtime_number()

Create new column containing movie runtime as numbers, as they appear originally as strings.

In [10]:
def runtime_number(table):
    """
    Transform a given vector from chr to float.
    The input should be in the form of 'XXX min'
    The output would be in the form XXX (representing minutes)
    
    Example
    ----------
    Input.-  '190 min' | Type: chr
    Output.- 190       | Type: float
    
    Parameters
    ----------
    table: movie_list() dataframe output
    
    Result
    ----------
    Input dataframe with additional column containing the runtime in minutes.
    
    """
    #Create new column.
    table = table.copy(deep=True)
    table['Runtime (min.)'] = None
    #Iterate through all items according to the index.
    for i in (table.index):
        if (table['Runtime'][i]=='N/A'):
            #Average movie runtime as proxy.
            table['Runtime (min.)'][i] = 100 
        else:
            #Real runtime.
            table['Runtime (min.)'][i] = int(table['Runtime'][i].replace(' min',''))
    return table

### <span style='color:White'><span style='background :Black' > Function: </span></span>  imdbScore()

Create new column containing movie IMDb score as numbers, as they appear originally as strings.

In [11]:
def imdbScore(table):
    """
    Transform a given vector from chr to float.
    The input should be in the form of 'X.X'
    The output would be in the form X.X
    
    Example
    ----------
    Input.-  '5.8' | Type: chr
    Output.- 5.8   | Type: float
    
    Parameters
    ----------
    table: movie_list() dataframe output
    
    Result
    ----------
    Input dataframe with additional column containing the IMDb score.
    
    """    
    #Create new column.
    table = table.copy(deep=True)
    table['IMDb Score'] = None
    #Iterate through all items according to the index.
    for i in (table.index):
        if (table['imdbRating'][i]=='N/A'):
            #Average movie score as proxy.
            table['IMDb Score'][i] = 5
        else:
            #Real score.
            table['IMDb Score'][i] = float(table['imdbRating'][i])
    return table

### <span style='color:White'><span style='background :Black' > Function: </span></span> dataTransformation()

Transform dataset by including all previous functions, generating necessary columns in the process.

In [12]:
def dataTransformation(table):
    """
    Transform data by adding required columns.
    * Gross (MM USD)
    * Release Year
    * Release Month
    * Standarized Rating
    * Runtime (min.)
    * IMDb Score
    
    Parameters
    ----------
    table: movie_list() dataframe output
    
    Result
    ----------
    Dataframe with additional columns.
    
    """     
    table = table.copy(deep=True)
    #Apply all functions
    table = gross_number(table)
    table = date_strptime(table)
    table = std_rating(table)
    table = runtime_number(table)
    table = imdbScore(table)
    return table

We can check after that we now are able to get the required information to work with later.

In [14]:
dataTransformation(top_movies).head()

,Title,Lifetime Gross,Rated,Released,Runtime,Genre,Director,Writer,Actors,Plot,...,Country,Awards,imdbRating,Poster,Gross (MM USD),Release Year,Release Month,Standarized Rating,Runtime (min.),IMDb Score
Rank,,,,,,,,,,,,,,,,,,,,,
1,Avatar,"$2,847,397,339",PG-13,18 Dec 2009,162 min,"Action, Adventure, Fantasy",James Cameron,James Cameron,"Sam Worthington, Zoe Saldana, Sigourney Weaver","When his brother is killed in a robbery, parap...",...,United States,Won 3 Oscars. 89 wins & 131 nominations total,7.8,https://m.media-amazon.com/images/M/MV5BNjA3NG...,2847.4,2009,12,Parents Strongly Cautioned,162,7.8
2,Avengers: Endgame,"$2,797,501,328",PG-13,26 Apr 2019,181 min,"Action, Adventure, Drama","Anthony Russo, Joe Russo","Christopher Markus, Stephen McFeely, Stan Lee","Robert Downey Jr., Chris Evans, Mark Ruffalo",After the devastating events of Avengers: Infi...,...,United States,Nominated for 1 Oscar. 70 wins & 132 nominatio...,8.4,https://m.media-amazon.com/images/M/MV5BMTc5MD...,2797.5,2019,4,Parents Strongly Cautioned,181,8.4
3,Titanic,"$2,201,647,264",PG-13,19 Dec 1997,194 min,"Drama, Romance",James Cameron,James Cameron,"Leonardo DiCaprio, Kate Winslet, Billy Zane","84 years later, a 100 year-old woman named Ros...",...,United States,Won 11 Oscars. 125 wins & 83 nominations total,7.9,https://m.media-amazon.com/images/M/MV5BMDdmZG...,2201.65,1997,12,Parents Strongly Cautioned,194,7.9
4,Star Wars: Episode VII - The Force Awakens,"$2,069,521,700",PG-13,18 Dec 2015,138 min,"Action, Adventure, Sci-Fi",J.J. Abrams,"Lawrence Kasdan, J.J. Abrams, Michael Arndt","Daisy Ridley, John Boyega, Oscar Isaac",30 years after the defeat of Darth Vader and t...,...,United States,Nominated for 5 Oscars. 62 wins & 138 nominati...,7.8,https://m.media-amazon.com/images/M/MV5BOTAzOD...,2069.52,2015,12,Parents Strongly Cautioned,138,7.8
5,Avengers: Infinity War,"$2,048,359,754",PG-13,27 Apr 2018,149 min,"Action, Adventure, Sci-Fi","Anthony Russo, Joe Russo","Christopher Markus, Stephen McFeely, Stan Lee","Robert Downey Jr., Chris Hemsworth, Mark Ruffalo",As the Avengers and their allies have continue...,...,United States,Nominated for 1 Oscar. 46 wins & 79 nomination...,8.4,https://m.media-amazon.com/images/M/MV5BMjMxNj...,2048.36,2018,4,Parents Strongly Cautioned,149,8.4

In [15]:
dataTransformation(top_movies).tail()

,Title,Lifetime Gross,Rated,Released,Runtime,Genre,Director,Writer,Actors,Plot,...,Country,Awards,imdbRating,Poster,Gross (MM USD),Release Year,Release Month,Standarized Rating,Runtime (min.),IMDb Score
Rank,,,,,,,,,,,,,,,,,,,,,
996,Tootsie,"$177,200,271",PG,17 Dec 1982,116 min,"Comedy, Drama, Romance",Sydney Pollack,"Don McGuire, Larry Gelbart, Murray Schisgal","Dustin Hoffman, Jessica Lange, Teri Garr",Michael Dorsey is an unemployed actor with an ...,...,United States,Won 1 Oscar. 25 wins & 30 nominations total,7.4,https://m.media-amazon.com/images/M/MV5BMTY4MG...,177.2,1982,12,Parental Guidance Suggested,116,7.4
997,In the Line of Fire,"$176,997,168",R,09 Jul 1993,128 min,"Action, Crime, Drama",Wolfgang Petersen,Jeff Maguire,"Clint Eastwood, John Malkovich, Rene Russo",Frank Horrigan (Clint Eastwood) is a Secret Se...,...,United States,Nominated for 3 Oscars. 2 wins & 17 nomination...,7.2,https://m.media-amazon.com/images/M/MV5BMjdhYj...,177.0,1993,7,Restricted,128,7.2
998,Analyze This,"$176,885,658",R,05 Mar 1999,103 min,"Comedy, Crime",Harold Ramis,"Kenneth Lonergan, Peter Tolan, Harold Ramis","Robert De Niro, Billy Crystal, Lisa Kudrow",Living in the shadow of his famous psychiatris...,...,"United States, Australia",4 wins & 7 nominations,6.7,https://m.media-amazon.com/images/M/MV5BNTIzNj...,176.89,1999,3,Restricted,103,6.7
999,The Hitman's Bodyguard,"$176,600,207",R,18 Aug 2017,118 min,"Action, Comedy, Crime",Patrick Hughes,Tom O'Connor,"Ryan Reynolds, Samuel L. Jackson, Gary Oldman",With his reputation in tatters after the painf...,...,"United States, Hong Kong, Bulgaria, Netherland...",1 win & 8 nominations,6.9,https://m.media-amazon.com/images/M/MV5BMTc4Nj...,176.6,2017,8,Restricted,118,6.9
1000,Looper,"$176,506,819",R,28 Sep 2012,119 min,"Action, Drama, Sci-Fi",Rian Johnson,Rian Johnson,"Joseph Gordon-Levitt, Bruce Willis, Emily Blunt","Joe is classified as a ""looper"", a job in whic...",...,United States,18 wins & 47 nominations,7.4,https://m.media-amazon.com/images/M/MV5BMTg5NT...,176.51,2012,9,Restricted,119,7.4